<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>559952338254-gs0coh1c10c6q58lee4gjd3okn6dognc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559952338254-gs0coh1c10c6q58lee4gjd3okn6dognc</string>
	<key>API_KEY</key>
	<string>AIzaSyBxuG_5uMbm9cV5pyltTm1MCFmEOPXUu-c</string>
	<key>GCM_SENDER_ID</key>
	<string>559952338254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>billy1301.Chat</string>
	<key>PROJECT_ID</key>
	<string>devslopesprojects</string>
	<key>STORAGE_BUCKET</key>
	<string>devslopesprojects.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559952338254:ios:746a4d40981d96fc</string>
	<key>DATABASE_URL</key>
	<string>https://devslopesprojects.firebaseio.com</string>
</dict>
</plist>